@import "tailwindcss";
@import "@nuxt/ui";

@theme {
    --font-inter: "inter", "inter Fallback";
    --inter-font-features: "liga" 1, "calt" 1, "cv01" 1, "cv02" 1, "cv03" 1, "cv04" 1, "cv09" 0, "cv11" 1;
}

@media (min-width: 768px) {
    :root {
        --navbar-height: 64px;
        --floatnav-height: 100px;
    }
}

:root{
    --navbar-height: 64px;
    --floatnav-height: 100px;
}

@utility text-body-base{
    font-family: var(--font-inter, "Inter"), sans-serif;
    font-feature-settings: var(--inter-font-features);
    letter-spacing: -.09px;
    font-size: 14px;
    line-height: 20px;
}

@keyframes pulse-inner {
  0%   { opacity: 0.25; }
  10%  { opacity: 1; }
  55%  { opacity: 1; }
  70%  { opacity: 0.25; }
  100% { opacity: 0.25; }
}

@keyframes pulse-outer {
  0%   { opacity: 0.25; }
  25%  { opacity: 0.25; }
  35%  { opacity: 1; }
  55%  { opacity: 1; }
  70%  { opacity: 0.25; }
  100% { opacity: 0.25; }
}

.arc-inner {
  opacity: 0.25;
  animation: pulse-inner 1.6s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
.arc-outer {
  opacity: 0.25;
  animation: pulse-outer 1.6s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}